
body {
  background-color: rgba(195, 166, 240, 0.05);
}

/* h2,
ul {
  margin: 0;
} */

/* button {
  cursor: pointer;
  background: none;
  border: none;
} */

.head1{
    font-style: italic;

    color: chocolate;
    
    padding-top: 1rem;
    padding-right: 1rem;
    
    border-left: 1px solid chocolate;
}
.logo{
    padding-top: 1rem;
}
.login-button{
    color: white;
    text-decoration: none;
}

.foot{
    padding-top: 1rem;
    text-align: center;
}
.foot a{
    color: chocolate;
}
.foot-button{
    padding-top: 1rem;
}
.main-content{
    background-color: rgb(215, 219, 216);
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1.4rem;
}
.main-content h3{
    color: rgb(113, 148, 61);
}
.main-content-form{
    background-color: #ababab;
    padding-top: 1.6rem;
    padding-bottom: 1rem;

}

.main-sub-heads{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.im2{
    padding-top: 3rem;
}
.fscreen-button{
    padding-top: .7rem;
    
}

.r1, .r2, .r3{
    /* height: fit-content; */
    /* padding-bottom: 1rem; */
    text-align: center;
    /* display: block; */
    padding: .8rem;
    
}

.f-dash{
    padding-top: 1rem;
}

.r1 button{
    box-sizing: border-box;
}

.col-bt{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.f2-head, .f2-sub-head{
    padding-bottom: .5rem;
    text-align: center;
}
.f2-sub-head{
    vertical-align: center;
    padding-top: .5rem;
}
.edu1 h4{
    font-size: 1.3rem;
    padding-top: .5rem;
}
.edu1{
    text-align: center;
}

.side-nav-edu{
    padding-top: .7rem;
    background-color: rgba(212, 212, 212, 0.479);
}
.side-nav-edu > h1{
     font-size: 2rem;
    text-align: center;
}
.side-nav-edu > h2{
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 1rem;
}
ul.side-nav-edu > li{
    text-decoration: none;
    font: italic;
}

.edu-resources{
    text-align: center;
    padding-top: .6rem;
   
}

.eduh4{
    text-align: center;
    padding-top: 1rem;
}


.log-page{
    background: gray;
    text-align: center;
    text-decoration: none;
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 72vh;
}
.reg-info > h2{
    border-bottom: olivedrab solid 1px ;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    
}

.fstate{
    

    padding-bottom: 1rem;

}
.fcheck-logo{
    text-align:start;
}
.bb2{
    margin-bottom: 1rem;
}
.log-page > ul{
        list-style-type: none;
}

.graph-di{
    padding-top: 1rem;
}

.bttnss{
    padding-top: .5rem;
    padding-bottom: 1rem;
}
@media screen and (min-width: 992px){
    .logo{
        padding-left: 1.2rem;
        padding-top: 1rem;
    }
    .r1, .r3{
        padding-top: 1.3rem;
        padding-bottom: 1rem;
        height: 33vh;
    }
    .r2{
        height: 20vh;
    }
    .r3{
        position: relative;
       top: -5rem;
       font-size: 1.2rem ;
    }
    .first-time{
        padding-top: .6rem;
        padding-bottom: .5rem;
    }
    .fscreen-button{
        padding-top: .7rem;
        padding-left: 10rem;
    }
    
}


